@page "/admin/product-types"
@inject IProductTypeService ProductTypeService
@implements IDisposable
@attribute [Authorize(Roles = "Admin")]

<div class="container mt-5">
    <h3>Product Types</h3>

    @foreach(var productType in ProductTypeService.ProductTypes)
    {
        @if (productType.Editing)
        {
            <EditForm Model="editingProductType" OnSubmit="UpdateProductType">
                <div class="d-flex justify-content-between mt-3">
                    <InputText @bind-Value="editingProductType.Name" class="form-control" style="max-width: 400px;"></InputText>
                    <MudIconButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Save" Color="Color.Info" aria-label="save"></MudIconButton>
                </div>
            </EditForm>
        }
        else
        {
            <div class="d-flex justify-content-between mt-3">
                <MudText>@productType.Name</MudText>
                <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Edit" Disabled="!(editingProductType == null)" Color="Color.Info" aria-label="edit" OnClick="@(() => EditProductType(productType))"></MudIconButton>
            </div>
        }
    }
    <button class="btn btn-primary" disabled="@editingProductType" @onclick="CreateNewProductType">
        <i class="oi oi-plus"></i> Add new Product Type.
    </button>
</div>

@code {
    ProductType editingProductType = null;

    protected override async Task OnInitializedAsync()
    {
        await ProductTypeService.GetProductTypes();
        ProductTypeService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        ProductTypeService.OnChange -= StateHasChanged;
    }

    private void EditProductType(ProductType productType)
    {
        productType.Editing = true;
        editingProductType = productType;
    }

    private void CreateNewProductType()
    {
        editingProductType = ProductTypeService.CreateNewProductType();
    }

    private async Task UpdateProductType()
    {
        if (editingProductType.IsNew)
            await ProductTypeService.AddProductType(editingProductType);
        else
            await ProductTypeService.UpdateProductType(editingProductType);
        editingProductType = null;
    }
}