@page "/forgot-password"
@inject IAuthService AuthService
@inject IMailService MailService
@inject ISnackbar SnackBar

<div class="container mt-5">
    <EditForm Model="@user" OnValidSubmit="@SendMail">
        <DataAnnotationsValidator />
        <MudText Typo="Typo.h6">Reset your password (Step 1)</MudText>
        <MudText>Resetting your password requires 2 steps!</MudText><br />
        <MudText><b>Step 1:</b>&nbsp; Use this form to request an email to reset your password. <br /> <b>NOTE:</b> you must provide the email address that was used creating your account!</MudText><br />
        <MudText><b>Step 2:</b>&nbsp; Click on the link in the email you'll receive to reset your password.</MudText>
        <br />
        <MudTextField Class="mb-3" Label="Email address" HelperText="Please use your registered email address." @bind-Value="@user.Email" For="@(() => user.Email)" />
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.Send" Class="ml-auto">Send Reset Request</MudButton>
    </EditForm>
</div>

@code {
    private User user = new();

    private async void SendMail()
    {
        var response = await AuthService.CreateResetToken(user);
        if (response.Success)
        {
            SendMailDto mailDto = new SendMailDto
            {
                ToEmail = user.Email,
                Subject = "Password Reset",
                HTMLBody = "<h5>Hi there,</h5>you've requested to reset your password. Please use the following link to reset your password: <a href=\"https://localhost:7010/reset-password/?token=" + response.Data.ToString() + "&user=" + user.Email + "\">Reset Password</a><br><br>" +
                    "If the provided link is not clickable to you, please follow the steps below:<br>" +
                        "<b>1.</b> mark this (https://localhost:7010/reset-password/?token=" + response.Data.ToString() + "&user=" + user.Email + ") link and copy it to the clipboard<br>" +
                    "<b>2. </b> Paste this link into your browsers url and hit enter to visit the page." +
                    "<br><br><b><span style=\"color:red;\">If you've not initiated this password change request, please reach out to us ASAP.</b>"
            };

            var sentMail = await MailService.SendEmail(mailDto);

            if (sentMail.Success)
                snackMessage(sentMail.Message + "<br>Please check your inbox.", Severity.Success, Defaults.Classes.Position.BottomRight);
            else
                snackMessage(sentMail.Message, Severity.Error, Defaults.Classes.Position.BottomRight);
        }
        else
        {
            snackMessage(response.Message, Severity.Error, Defaults.Classes.Position.BottomRight);
        }
    }

    private void snackMessage(string message, MudBlazor.Severity type, string position)
    {
        SnackBar.Clear();
        SnackBar.Configuration.PositionClass = position;
        SnackBar.Add(message, type);
    }
}